/* Global Styles */
html, body {
  height: 100%; /* Asegura que el HTML y el body ocupen toda la altura de la ventana */
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Forza al body a tener al menos la altura de la ventana */
}

.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-container {
  flex-grow: 1; /* Asegura que esta sección ocupe el espacio disponible */
  padding: 2rem;
}

/* Navbar */
nav {
  background-color: #003399;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

/* Common Link Styles */
nav ul li a, 
nav ul li .logout-button {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block; /* Hacer que el enlace y el botón se comporten como elementos de bloque en línea */
  padding: 0.8rem 1.2rem; /* Asegura que el padding sea consistente con los botones */
  border-radius: 6px; /* Igual que los botones */
}

nav ul li a:hover, 
nav ul li .logout-button:hover {
  color: #e0e0e0;
  transform: scale(1.1);
}

/* Button Styles */
button {
  background-color: #003399;
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #002277;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Logout Button Styles */
.logout-button {
  background-color: #003399; /* Igual que los otros botones */
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.logout-button:hover {
  background-color: #002277; /* Igual que los otros botones */
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Footer Styles */
footer {
  background-color: #003399;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  margin-top: auto; /* Empuja el footer al fondo */
}

footer p {
  margin: 0;
}

/* Home Page Styles */
.home {
  text-align: center;
}

.banner-image {
  width: 30%; 
  height: auto;
  max-height: 500px; /* Ajusta según el diseño de tu página */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 20px;
}

.additional-images {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.additional-image {
  width: 100%; /* O un tamaño fijo, si es necesario */
  max-width: 300px; /* Ajusta según el diseño de tu página */
  height: auto;
  border-radius: 8px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  .container {
    padding: 1rem;
  }

  h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }

  form {
    padding: 1.5rem;
  }
}
